#carousel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    overflow: auto;    
    background-color: var(--bg-color);
    padding: 5px;
    grid-gap: 1px;
}

/* #carousel ::-webkit-scrollbar {
   display: none; 
  } */

/* #carousel  {
    -ms-overflow-style: none;
    scrollbar-width: none;
}  */

.card_Container1 {
    width: 100%;
    border: 1px rgb(225, 225, 225) dotted;
    height: auto;
    padding: 5px;
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;    
    border-radius: 10px;
}

.card_Container {
    width: 100%;
    border: 1px var( --scrollbar-color) dotted;
    height: auto;
    padding: 10px;
    display: grid;  
    grid-template-rows: minmax(auto, auto) 10px  0.5fr  minmax(auto, 1.5fr);
    /* grid-auto-flow: row; */
    border-radius: 10px;  
}

/* .card_imgCarousel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    transition: 2s all ease;
} */

/* .card_imgCarousel::-webkit-scrollbar {
    display: none;
/* } */



.card_Title {
    font-size: 1.5rem;
    font-weight: 700;
}

.card_Info {
    font-size: 1.2rem;
    font-weight: 300;
}


.card_dotCarousel_container {
    position: relative;
    top: -20px;
    /* height:15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* display img center of a div */
    overflow-x: hidden;

}

.card_dotCarousel {
    color: white;
    opacity: 1;
    font-size: 6px;
       /* display img center of a div */
       display: flex;
       align-items: center;
       justify-content: center;
       /* display img center of a div */
    z-index: 100;
    gap:10px;
    max-width: 80%;
    overflow-x: hidden;
}

.card_dotCarousel > * {
   transition: 0.5s;
   display:none;
}


.swipe {
overflow: hidden;
visibility: hidden;
position: relative;
aspect-ratio: 1
}

.swipe-wrap {
overflow: hidden;
position: relative;

}

.swipe-wrap > div {
float: left;
position: relative;
/* object-fit: contain; */
}

.card_Img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    aspect-ratio: 1/1;   
    border-radius: 10px     10px      0           0;
    transition: 2s all ease;
} 
