.checkBoxCss {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.textInputCss {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    padding:10px;
}

.container-row-2cols {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
}

.container-row {
    border: 1px dotted grey;
    padding: 5px;    
}

.container-row > .multiSelectors {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 5px;
}


.container-column {
    border: 1px dotted grey;
    padding: 5px;
}

.container-column:first-child > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;
}

.lastRow {
    flex-grow: 1;
    display: grid;    
    grid-template-columns: 1fr 5px 2fr;
}

.lastRow #aMap{
    background-color: red;   
    /* overflow: auto;
    resize: horizontal; */
    /* overflow: hidden; */
}

.lastRow #aCarousel {
    background-color: rgb(88, 29, 225);
    overflow: hidden;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
    background: linear-gradient(45deg, #c4c4c4 10%,transparent 10%,transparent 90%,#c4c4c4 90%),linear-gradient(135deg, transparent 40%, #c4c4c480 40%, #c4c4c480 60%, transparent 0),linear-gradient(45deg, transparent 40%, #c4c4c4 40%, #c4c4c4 60%, transparent 0);
        background-size: 1em 1em;
        background-color: #ffffff;
        opacity: 0.9
}

.gutter-col-1 {
    grid-column: 2;
    /* display img center of a div */
    display: flex;
    align-items: center;
    justify-content: center;
     /* display img center of a div */
}

.gutter-col-1 > * {
    font-size: 30px;
    color: rgba(255,255,255, 0.2)    
}