#main-grid-container {
    display: grid;   
    grid-template-rows: 60px 1fr;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content:left;
    background-color: var(--bg-color);  
    padding: 0 0 0 5px;
    border-bottom: 1px solid var(--btn-color);
}


#header > .header_buttonContainer::-webkit-scrollbar {
    display: none;
  }
  /* #carousel ::-webkit-scrollbar {
   display: none; 
  } */

#header > .header_buttonContainer  {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* width: calc(100svw - 300px); */
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;    
    flex-grow: 1;
    gap: 5px;
} 

#header .header__btn {            
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;   
    white-space: nowrap;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    height: 50%;
        /* display img center of a div */
    display: flex;
    align-items: center;
    justify-content: center;
    /* display img center of a div */

    border: 1px dotted var(--scrollbar-color);
    border-radius: 15px;

}

#header .header__btn:hover {            
    background-color: var(--btn-color);
}

#header .header__btn:not(:last-child) {
    border-right: 1px dotted var(--scrollbar-color);
}

#header > .logo {
    background-image: url('./../img/Full_logo.svg');
    background-repeat:no-repeat;
    background-position: center;
    object-fit: cover;
    height: 100%;
    min-width: 300px;      
}

#header #messageLog {
    display:none;
}

#header > .header__rightMenu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content:right; 
}

#header > .header__rightMenu > *:not(:last-child) {
    border-right: 1px dotted var(--scrollbar-color);
}


#header .shareLinkBtn {
    font-size:20px;
    color: var(--blue-color);
    height: 100%;
    min-width: 50px;      
         /* display img center of a div */
         display: flex;
         align-items: center;
         justify-content: center;
          /* display img center of a div */
    opacity: 0.8;
    user-select: none;
    cursor: pointer;
   
}

#header .magnifyBtn {
    font-size:20px;
    color: var(--blue-color);
    height: 100%;
    min-width: 50px;      
         /* display img center of a div */
         display: flex;
         align-items: center;
         justify-content: center;
          /* display img center of a div */
    opacity: 0.8;
    user-select: none;
    cursor: pointer;
    
}

#content-grid {      
    max-width:100svw;
    height: calc(100svh - 60px);
    display: grid;   
}

#carousel {
   background-color: rgb(224, 224, 224);
}

#map {
    background-color: rgb(255, 255, 255);
 }

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
    background: linear-gradient(45deg, #c4c4c4 10%,transparent 10%,transparent 90%,#c4c4c4 90%),linear-gradient(135deg, transparent 40%, #c4c4c480 40%, #c4c4c480 60%, transparent 0),linear-gradient(45deg, transparent 40%, #c4c4c4 40%, #c4c4c4 60%, transparent 0);
        background-size: 1em 1em;
        background-color: #ffffff;
        opacity: 0.9
}

.gutter-col-1 {
    grid-column: 2;
     /* display img center of a div */
     display: flex;
     align-items: center;
     justify-content: center;
      /* display img center of a div */
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
    background: linear-gradient(45deg, #c4c4c4 10%,transparent 10%,transparent 90%,#c4c4c4 90%),linear-gradient(135deg, transparent 40%, #c4c4c480 40%, #c4c4c480 60%, transparent 0),linear-gradient(45deg, transparent 40%, #c4c4c4 40%, #c4c4c4 60%, transparent 0);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 0.9
}

.gutter-row-1 {
    grid-row: 2;
    /* display img center of a div */
    display: flex;
    align-items: center;
    justify-content: center;
    /* display img center of a div */
}


.overLapIcon {
    width: 30px;
    display: grid; 
}

.overLapIcon > img {
    width: 25px;
    opacity: 0.25;
}
/* .overLapIcon > i:first-child {
    font-size: 30px;  
    color: rgb(237, 237, 237);
    grid-area: 1/1/1/1;
}

.overLapIcon > i:nth-child(2) {
    font-size: 30px;    
    color: rgba(129, 129, 129, 0.3);
    grid-area: 1/1/1/1;
} */

#ajax-loader {
    width: 250px;
    height: 250px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 1000;
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 

    #main-grid-container {
        height: 100svh;
        grid-template-rows: 45px 1fr;       
    }

    #content-grid {          
        /* grid-template-rows: 1fr 2px 1fr;      */
        height: calc(100svh - 45px); 
        /* max-height: 80vh; */
       
    }

    #header > .logo {
        background-image: url('./../img/Logo.png');
        background-repeat:no-repeat;
        background-position:center;
        background-size: 50px;
        object-fit: cover;
        height: 100%;
        min-width: 50px; 
        margin-left: 5px;     
    }

    #header > .header_buttonContainer {        
        width: calc(100svw - 250px);
        overflow-x: auto;
        overflow-y: hidden;        
        margin-left:20px;           
    }

   


   

    #carousel {
        height: 100%;
    }
}
