#main-grid-container {
    display: grid;   
    grid-template-rows: 60px 1fr 60px;
}

#header,#footer{
    background-color: grey;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#header,#footer > div {
    margin-left: 5px;
    padding: 15px;
    background-color: rgb(203, 203, 203);
}

#content-grid {      
    max-width:100vw;
    height: calc(100vh - 120px);
    display: grid;   
}

#carousel {
   background-color: rgb(224, 224, 224);
}

#map {
    background-color: rgb(255, 255, 255);
 }

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
    background: linear-gradient(45deg, #c4c4c4 10%,transparent 10%,transparent 90%,#c4c4c4 90%),linear-gradient(135deg, transparent 40%, #c4c4c480 40%, #c4c4c480 60%, transparent 0),linear-gradient(45deg, transparent 40%, #c4c4c4 40%, #c4c4c4 60%, transparent 0);
        background-size: 1em 1em;
        background-color: #ffffff;
        opacity: 0.9
}

/* .gutter-col-1 {
    grid-column: 2;
    /* display img center of a div 
    display: flex;
    align-items: center;
    justify-content: center;
     /* display img center of a div
}

.gutter-col-1 > * {
    font-size: 40px;
    color: var(--scrollbar-color);
    opacity: 0.6;
    z-index: 1000;
} */

.gutter-col-1 {
    grid-column: 2;
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
    background: linear-gradient(45deg, #c4c4c4 10%,transparent 10%,transparent 90%,#c4c4c4 90%),linear-gradient(135deg, transparent 40%, #c4c4c480 40%, #c4c4c480 60%, transparent 0),linear-gradient(45deg, transparent 40%, #c4c4c4 40%, #c4c4c4 60%, transparent 0);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 0.9
}

.gutter-row-1 {
    grid-row: 2;
}

@media (max-width: 900px) {
    #footer {
        display:none;
    }    

    #main-grid-container {
        grid-template-rows: 60px 1fr;       
    }

    #content-grid {          
        grid-template-rows: 1fr 2px 1fr;     
        height: calc(100vh - 60px);
    }

    #carousel {
        height: 100%;
    }
}
